nav {
    background-color: var(--white-color);
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 24px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-size: 1.3rem;
    font-weight: 700;
    color: var(--primary-color);
    text-decoration: none;
    letter-spacing: -1px;
}

.list-menu {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 25px;
}

.link {
    text-decoration: none;
    color: var(--neutral-color);
}